<!DOCTYPE html>
<html>
<head><title>Airplanes Confirmation</title></head>
<body>
    <h2>Airplanes Owned by {{ airline_name }}</h2>
    <table border="1">
        <tr>
            <th>Airplane ID</th>
            <th>Number of Seats</th>
            <th>Manufacturing Company</th>
        </tr>
        {% for plane in airplanes %}
        <tr>
            <td>{{ plane[0] }}</td>
            <td>{{ plane[2] }}</td>
            <td>{{ plane[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
